body {
  position: absolute;
width: 100%;
height: 906px;
left: 0px;
top: 0px;

background: #799985;
}

div#image-header {
  position: absolute;
width: 720px;
height: 906px;
left: 720px;
top: 0px;
}

div#logo {
  position: absolute;
width: 195px;
height: 32px;
left: 78px;
top: 64px;

/* Subtitle 1 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
/* identical to box height, or 100% */


color: #FFFFFF;
}

.button {
  text-decoration: none;
  color:#FFFFFF;
}

div#home-header {
  position: absolute;
width: 54px;
height: 29px;
left: 472px;
top: 66px;

/* Body 2 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

letter-spacing: 0.5px;

color: #FFFFFF;

}
  

div#catalog-header {
  position: absolute;
width: 69px;
height: 29px;
left: 603px;
top: 66px;

/* Body 2 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

letter-spacing: 0.5px;

color: #FFFFFF;
}

div#contacts-header {
  position: absolute;
width: 80px;
height: 29px;
left: 749px;
top: 69px;

/* Body 2 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

letter-spacing: 0.5px;

color: #E1E1E1;
}


div#promo-header {
  position: absolute;
width: 60px;
height: 29px;
left: 906px;
top: 69px;

/* Body 2 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

letter-spacing: 0.5px;

color: #E1E1E1;

}

div#title-header {
  position: absolute;
width: 528px;
height: 154px;
left: 78px;
top: 180px;

/* Header 1 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 120%;
/* or 77px */

letter-spacing: 0.5px;

color: #FFFFFF;

}

div#call-to-action {
  position: absolute;
width: 528px;
height: 283px;
left: 78px;
top: 407px;

/* Body 1 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
/* or 38px */

letter-spacing: 0.5px;

color: #E1E1E1;

}

div#shop-now {
  position: absolute;
width: 159px;
height: 44px;
left: 157px;
top: 770px;

/* Button 1 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.5px;

color: #799985;
background-color: transparent;

}

.shop-button {
  color: #799985;
  text-decoration: none;
}

div#shop-now-background{
  position: absolute;
width: 317px;
height: 60px;
left: 78px;
top: 762px;

background-color: #FFFFFF;
border-radius: 4px;
}