@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.product_catalog
{
    position: absolute;
    height: 742px;
    left: 0px;
    top: 906px;    
    background: #FFFFFF;

}

.h_product_catalog{
position: absolute;
width: 390px;
height: 62px;
left: 502px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 130%;
text-align: center;
letter-spacing: 0.5px;
color: #2C2D33;


}
footer{
    position: absolute;
width: 100%;
height: 366px;
left: 0px;
top: 3826px;
background: #799985;
}


div#name{
    position: absolute;
width: 210.56px;
height: 45.81px;
left: 142px;
top: 64px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #FFFFFF;

}
div#home{
    position: absolute;
width: 72.57px;
height: 40.83px;
left: 512px;
top: 64px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
text-align: center;
letter-spacing: 0.5px;
color: #2C2D33;

}

.product_description{
    position: absolute;
width: 689px;
height: 116px;
left: 375px;
top: 185px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
text-align: center;
letter-spacing: 0.5px;
color: #989898;
}

.product{
position: absolute;
width: 1072px;
height: 305px;
left: 184px;
top: 365px;
}

.panda_basic{
position: absolute;
width: 192px;
height: 32px;
left: 184px;
top: 366px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #2C2D33;
}

.basic_description{
    position: absolute;
width: 285px;
height: 203px;
left: 184px;
top: 410px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
letter-spacing: 0.5px;
color: #989898;
}

.basic_price{
    position: absolute;
width: 75px;
height: 44px;
left: 184px;
top: 625px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 44px;
letter-spacing: 0.5px;
color: #799985;
}

.panda_premium{    
position: absolute;
width: 256px;
height: 32px;
left: 561px;
top: 365px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #2C2D33;
}

.premium_description{
    position: absolute;
width: 324px;
height: 203px;
left: 561px;
top: 411px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
letter-spacing: 0.5px;
color: #989898;

}

.premium_price{
    position: absolute;
width: 94px;
height: 44px;
left: 561px;
top: 626px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 44px;
letter-spacing: 0.5px;
color: #799985;
}

.panda_platimum{
    position: absolute;
width: 255px;
height: 32px;
left: 977px;
top: 366px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #2C2D33;
}

.platimum_description{    
position: absolute;
width: 279px;
height: 203px;
left: 977px;
top: 410px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
letter-spacing: 0.5px;
color: #989898;
}

.platimum_price{
    position: absolute;
width: 94px;
height: 44px;
left: 977px;
top: 625px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 44px;
letter-spacing: 0.5px;
color: #799985;
font-size: 24px;
line-height: 160%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
.button{
    text-decoration: none;
    color:#FFFFFF;
}
div#catalog{
    position: absolute;
    width: 93.02px;
    height: 40.83px;
    left: 512px;
    top: 120.76px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#services{
    position: absolute;
width: 100.17px;
height: 40.83px;
left: 512px;
top: 177.52px;
font-family: "Open Sans";
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#promo{
    position: absolute;
width: 81.77px;
height: 40.83px;
left: 512px;
top: 234.28px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#adress{
    position: absolute;
width: 106.3px;
height: 40.83px;
left: 771px;
top: 64px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#adresss{
    
position: absolute;
width: 222.83px;
height: 101.57px;
left: 771px;
top: 136.69px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170.53%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#info{
    position: absolute;
width: 155.37px;
height: 40.83px;
left: 1109px;
top: 64px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#faq{
    position: absolute;
width: 63.37px;
height: 29.87px;
left: 1109px;
top: 136.7px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170.53%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#dr{
    position: absolute;
width: 189.1px;
height: 29.87px;
left: 1109px;
top: 171px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170.53%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#safety{
    position: absolute;
width: 189.1px;
height: 29.87px;
left: 1109px;
top: 205px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170.53%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#pb{
    position: absolute;
width: 189.1px;
height: 29.87px;
left: 1109px;
top: 239px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170.53%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#privacy{
    position: absolute;
width: 189.1px;
height: 29.87px;
left: 1109px;
top: 273px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170.53%;
letter-spacing: 0.5px;
color: #FFFFFF;
}
div#insta{
position: absolute;
left: 142px;
right: 1248.94px;
top: 141px;
bottom: 176.53px;
}
div#twitter{
position: absolute;
left: 303.5px;
right: 1087.44px;
top: 141px;
bottom: 176.53px;
}

div#facebook{
    
position: absolute;
left: 222.75px;
right: 1168.19px;
top: 141px;
bottom: 176.53px;

}

.why_choose_us{
    position: absolute;
height: 928px;
left: -1px;
top: 1648px;
background: #799985;
}

.reviews{
    position: absolute;
height: 904px;
left: calc(50% - 1440px/2);
top: 2576px;
background: #FFFFFF;
}
.contact_form{
    position: absolute;
height: 346px;
left: 0px;
top: 3480px;
background: #FFFFFF;
}