@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

header {
    position: absolute;
    width: 100%;
    height: 906px;
    left: 0px;
    top: 0px;
    background: #799985;
} 

div#image-header {
    position: absolute;
    width: 720px;
    height: 906px;
    left: 720px;
    top: 0px;
}

div#logo {
    position: absolute;
    width: 195px;
    height: 32px;
    left: 78px;
    top: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}

.button {
    text-decoration: none;
    color:#FFFFFF;
}

div#home-header {
    position: absolute;
    width: 54px;
    height: 29px;
    left: 472px;
    top: 66px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#catalog-header {
    position: absolute;
    width: 69px;
    height: 29px;
    left: 603px;
    top: 66px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#contacts-header {
    position: absolute;
    width: 80px;
    height: 29px;
    left: 749px;
    top: 69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #E1E1E1;
}

div#promo-header {
    position: absolute;
    width: 60px;
    height: 29px;
    left: 906px;
    top: 69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #E1E1E1;
}

div#title-header {
    position: absolute;
    width: 540px;
    height: 154px;
    left: 78px;
    top: 180px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#call-to-action {
    position: absolute;
    width: 528px;
    height: 283px;
    left: 78px;
    top: 407px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #E1E1E1;
}

#shop_button {
    position: absolute;
    left: 78px;
    top: 750px;
    border: none;
    border-radius: 4px;
    padding: 8px 64px;
    text-decoration: none;
    background: #FFF;
    color: #799985;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-align: center;
}

#shop_button:hover {
    background: #E1E1E1;
}

.product_catalog {
    position: absolute;
    height: 742px;
    left: 0px;
    top: 906px;    
    background: #FFFFFF;
}

.h_product_catalog {
    position: absolute;
    width: 390px;
    height: 62px;
    left: 502px;
    top: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #2C2D33;
}

.why_choose_us {
    position: absolute;
    width: 1440px;
    height: 928px;
    left: -1px;
    top: 1648px;
    background: #799985;
}
  
div#img-why-choose-us {
    position: absolute;
    width: 720px;
    height: 928px;
    left: 0px;
    top: 0px;   
}
  
div#title-why-choose-us {
    position: absolute;
    width: 511px;
    height: 62px;
    left: 824px;
    top: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
  
img#img-drive-belt {
    position: absolute;
    left: 73.1%;
    right: 22.94%;
    top: 21.57%;
    bottom: 71.25%;
}
  
p#great-maintenance {
    position: absolute;
    width: 235.33px;
    height: 32px;
    left: 963.34px;
    top: 230px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
  
p#great-maintenance-description {
    position: absolute;
    width: 566px;
    height: 88px;
    left: 798px;
    top: 274px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #E1E1E1;
}
  
img#img-engine {
    position: absolute;
    left: 72.66%;
    right: 22.85%;
    top: 45.16%;
    bottom: 50.25%;
}
  
p#high-quality-parts {
    position: absolute;
    width: 221.17px;
    height: 32px;
    left: 968.92px;
    top: 450.34px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
  
p#high-quality-parts-description {
    position: absolute;
    width: 566px;
    height: 116px;
    left: 796px;
    top: 494.34px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #E1E1E1;
}

img#img-mechanic {
    position: absolute;
    left: 73.28%;
    right: 23.34%;
    top: 71.11%;
    bottom: 23.72%;
}
  
p#high-quality-services {
    position: absolute;
    width: 258.26px;
    height: 32px;
    left: 951.36px;
    top: 703.59px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
  
p#high-quality-services-description {
    position: absolute;
    width: 566px;
    height: 116px;
    left: 797px;
    top: 747.59px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #E1E1E1;
}
  

footer {
    position: absolute;
    width: 100%;
    height: 366px;
    left: 0px;
    top: 3826px;
    background: #799985;
}


div#name {
    position: absolute;
    width: 210.56px;
    height: 45.81px;
    left: 142px;
    top: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}

div#home {
    position: absolute;
    width: 72.57px;
    height: 40.83px;
    left: 512px;
    top: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #2C2D33;
}

.product_description {
    position: absolute;
    width: 689px;
    height: 116px;
    left: 375px;
    top: 185px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #989898;
}

.product {
    position: absolute;
    width: 1072px;
    height: 305px;
    left: 184px;
    top: 365px;
}

.panda_basic {
    position: absolute;
    width: 192px;
    height: 32px;
    left: 184px;
    top: 366px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #2C2D33;
}

.basic_description {
    position: absolute;
    width: 285px;
    height: 203px;
    left: 184px;
    top: 410px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #989898;
}

.basic_price {
    position: absolute;
    width: 75px;
    height: 44px;
    left: 184px;
    top: 625px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #799985;
}

.panda_premium {    
    position: absolute;
    width: 256px;
    height: 32px;
    left: 561px;
    top: 365px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #2C2D33;
}

.premium_description {
    position: absolute;
    width: 324px;
    height: 203px;
    left: 561px;
    top: 411px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #989898;
}

.premium_price {
    position: absolute;
    width: 94px;
    height: 44px;
    left: 561px;
    top: 626px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #799985;
}

.panda_platimum {
    position: absolute;
    width: 255px;
    height: 32px;
    left: 977px;
    top: 366px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #2C2D33;
}

.platimum_description {    
    position: absolute;
    width: 279px;
    height: 203px;
    left: 977px;
    top: 410px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #989898;
}

.platimum_price {
    position: absolute;
    width: 94px;
    height: 44px;
    left: 977px;
    top: 625px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #799985;
}

.button {
    text-decoration: none;
    color:#FFFFFF;
}

.button:hover {
    color:#E1E1E1;
}

div#catalog {
    position: absolute;
    width: 93.02px;
    height: 40.83px;
    left: 512px;
    top: 120.76px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#services {
    position: absolute;
    width: 100.17px;
    height: 40.83px;
    left: 512px;
    top: 177.52px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#promo {
    position: absolute;
    width: 81.77px;
    height: 40.83px;
    left: 512px;
    top: 234.28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#adress {
    position: absolute;
    width: 106.3px;
    height: 40.83px;
    left: 771px;
    top: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#adresss {
    position: absolute;
    width: 222.83px;
    height: 101.57px;
    left: 771px;
    top: 136.69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.53%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#info{
    position: absolute;
    width: 155.37px;
    height: 40.83px;
    left: 1109px;
    top: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#faq{
    position: absolute;
    width: 63.37px;
    height: 29.87px;
    left: 1109px;
    top: 136.7px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.53%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#dr{
    position: absolute;
    width: 189.1px;
    height: 29.87px;
    left: 1109px;
    top: 171px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.53%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#safety{
    position: absolute;
    width: 189.1px;
    height: 29.87px;
    left: 1109px;
    top: 205px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.53%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#pb {
    position: absolute;
    width: 189.1px;
    height: 29.87px;
    left: 1109px;
    top: 239px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.53%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#privacy {
    position: absolute;
    width: 189.1px;
    height: 29.87px;
    left: 1109px;
    top: 273px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170.53%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

div#insta {
    position: absolute;
    left: 142px;
    right: 1248.94px;
    top: 141px;
    bottom: 176.53px;
}

div#twitter {
    position: absolute;
    left: 303.5px;
    right: 1087.44px;
    top: 141px;
    bottom: 176.53px;
}

div#facebook {   
    position: absolute;
    left: 222.75px;
    right: 1168.19px;
    top: 141px;
    bottom: 176.53px;
}

.why_choose_us {
    position: absolute;
    height: 928px;
    top: 1648px;
    background: #799985;
}

.reviews {
    position: absolute;
    height: 904px;
    top: 2576px;
    background: #FFFFFF;
}

.title_reviews {
    position: absolute;
    width: 484px;
    height: 124px;
    left: 478px;
    top: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000000;
}

.description_reviwes {
    position: absolute;
    width: 547px;
    height: 87px;
    left: 447px;
    top: 228px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #989898;
}

.customers {
    position: absolute;
    width: 1200px;
    height: 485px;
    top: 379px;
}

.img1 {
    position: absolute;
    left: 243px;
}

.name_avatar_1 {
    position: absolute;
    width: 172px;
    height: 32px;
    left: 227px;
    top: 400px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2C2D33;
}

.card_1 {
    position: absolute;
    width: 386px;
    height: 415px;
    left: 120px;
    top: 50px;
    background: #799985;
    border-radius: 4px;
}

.review_avatar_1 {
    position: absolute;
    width: 286px;
    height: 257px;
    left: 170px;
    top: 169px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.card_2 {
    position: absolute;
    width: 386px;
    height: 415px;
    left: 527px;
    top: 50px;
    background: #799985;
    border-radius: 4px;
}

.card_3 {
    position: absolute;
    width: 386px;
    height: 415px;
    left: 934px;
    top: 50px;
    background: #799985;
    border-radius: 4px;
}

.img2 {
    position: absolute;
    left: 650px;
}

.img3 {
    position: absolute;
    left: 1057px;
}
.name_avatar_2 {
    position: absolute;
    width: 172px;
    height: 32px;
    left: 634px;
    top: 400px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2C2D33;
}
.name_avatar_3 {
    position: absolute;
    width: 155px;
    height: 32px;
    left: 1050px;
    top: 400px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2C2D33;
}

.review_avatar_2{
    position: absolute;
    width: 288px;
    height: 203px;
    left: 576px;
    top: 169px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.review_avatar_3 {
    position: absolute;
    width: 286px;
    height: 203px;
    left: 984px;
    top: 169px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

#contact_form {
    position: absolute;
    top: 3480px;
    width: 1200px;
    height: 250px;
    left: 120px;
    background-color: #799985;
}

.contact_form_letters {
    position: absolute;
    margin-top: 60px;
    margin-left: 80px;
    margin-bottom: 66px;
    margin-right: 793px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.email_form {
    position: absolute;
    width: 691px;
    height: 96px;
    margin-top: 75px;
    margin-right: 72px;
    margin-left: 437px;
    margin-bottom: 75px;
    padding-left: 32px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #989898;
}

.submit_button {
    position: absolute;
    width: 183px;
    height: 60px;
    margin-top: 95px;
    margin-left: 925px;
    margin-bottom: 95px;
    margin-right: 92px;
    background: #799985;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
}

.submit_button:hover {
    background: #688A75;
}